---
title: Test Post
authors: [Daniel Cui, Taisei De La Cruz]
description: "this is a test"
date: "2023-06-24"
published: true
---

<script>
	import Dog from "$lib/components/Dog.svelte";
</script>


# Markdown apparently

Hey, the date today is {date}!

<Dog/>

1. hello
	1. hi
	2. ni hao

2. hola

<hr/>

![favicon](/favicon.png)

[github](https://github.com/tinovationchs/tinovation-website)

# lorem
