---
title: Code Editors
authors: [Daniel Cui, Ryan Kim]
date: "2023-08-17"
checked: true
published: true
---

*Code editors are just text editors to write code.* They may also include plugins and specialized features 
like syntax highlighting, code completion, debugging tools, integrated terminal, etc.,
and a code editor is often called an **Integrated Development Environment**, or IDE for short.

## List of Commonly Used Code Editors

- [Visual Studio Code (VS Code)](https://code.visualstudio.com/): a lightweight, highly versatile editor
that is used by the majority of programmers, includes many features, very customizable with plugins

- [JetBrains IDEs](https://www.jetbrains.com/products/): includes many powerful, commercial IDEs with 
impressive refactoring and language support, [IntelliJ](https://www.jetbrains.com/idea/) for Java and 
[PyCharm](https://www.jetbrains.com/pycharm/) for Python have *free* **Community Edition** versions

- [Vi](https://wikipedia.org/wiki/Vi)/[Vim](https://www.vim.org)/[Neovim](https://neovim.io/):
keyboard-based text editors for users who want to maximize efficiency with key commands and 
different modes instead of using a mouse (has a steep learning curve)

- [Android Studio](https://developer.android.com/studio/): an IDE based on IntelliJ from JetBrains,
specifically made for Android development

- [Xcode](https://developer.apple.com/xcode/): Apple's IDE to develop apps for their suite of products

- Others: [Sublime Text](https://www.sublimetext.com/), [Notepad++](https://notepad-plus-plus.org/),
[Visual Studio](https://visualstudio.microsoft.com/)

> We recommmend **VS Code** for its simplicity, versatility, and widespread use. It's also *free*!

You can download these on most systems (Windows/Mac/Linux), but if you are on ChromeOS or a mobile device, you might have 
to use [repl.it](https://replit.com/site/ide) or something like [GitHub Codespaces](https://github.com/features/codespaces) 
to work online instead of locally. You might also be able to use [VS Code](https://vscode.dev/) in the browser!
