@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=JetBrains+Mono&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-retro-black: #232222;
  --color-retro-gray: #545b64;
  --color-retro-lightgray: rgb(201, 199, 196);
  --color-retro-white: #ece8e0;
}

body {
  @apply bg-retro-black;
}
